.selected{
    background-color: var(--mantine-primary-color-filled);
    border-radius: 10px !important;
    color: var(--mantine-color-white);
}
.hasPlan {
    border: 1px solid var(--mantine-primary-color-filled);
    background-color: var(--mantine-color-white);
    border-radius: 10px !important;
    color: var(--mantine-primary-color-filled);
}

.plan-for-day__card{
    background-color:  var(--mantine-primary-color-filled) !important;
    color: white !important;
}